.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# API credentials
config.py
data_collection/scripts/config.py

# Logs
*.log
data_collection/logs/*.log

# OS
.DS_Store
Thumbs.db
aws*
*.zip